#displayElement {
  margin-top:4%;
}

#edition {
  width:175px;
  color: #0086a8;
}

#submitbtn {
  margin-top: 3%;
}

body {
  background-image: url("back.jpg");
  color: #0086a8;
  font-family: 'Times New Roman', Times, serif;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-steel {
  background-color: rgb(0,0,0);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 1000;
}

.info {
  font-size: 150%;
}

.footer {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.footer a {
  color: #0086a8;
  text-decoration-style: wavy;
}

.logo {
  display: block;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.heading {
  margin-top: 5%;
  font-size: 500%;
}

.lds-dual-ring {
  margin-top: 5%;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

