html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

#header {
    background-image: url('portfolio-bg.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
}

#header::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header .container {
    position: relative;
    z-index: 1;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
}

.header-links a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.header-links a:hover {
    text-decoration: none;
    color: peru;
    transform: scale(1.5);
}

.header-separator {
    color: white;
}

#profile-pic {
    transition: all 0.5s;
}

#profile-pic:hover {
    transform: scale(1.1);
}

/* #welcome {
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 20%;
    color: white;
    animation: hide_welcome 3s forwards;
}

@keyframes hide_welcome {
    0% {
        opacity: 1;
        font-size: 3em;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
} */