<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deccan Herald</title>
    <style>
        .main {
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Deccan Herald e-paper email account setup</h1><hr>
        <h4>NOTE : You need to allow ACCESS FOR LESS SECURE APPS in Gmail settings in order to send emails from this webapp.</h4><hr>
        <form method="POST">
            <label id="label">Enter the email address : </label>
            <input id="mail" name="mail" type="email" required><br><br>
            
            <label>Enter the password : </label>
            <input id="pwd" name="pwd" type="password" required><br><br>
            
            <input type="submit" value="Register this account">
        </form>
    </div>
</body>
</html>