<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deccan Herald</title>
    <script type="text/javascript" src="../static/deccan.js"></script>
    <link rel="stylesheet" href="../static/deccan.css" type="text/css">
</head>
<body>
    <a href="http://deccanherald.com" target="_blank"><img class="logo" src="http://deccanheraldepaper.com/lib.custom/custom-logo.png"></a>
    <h1 class="heading text-center">DECCAN HERALD E-PAPER</h1>
    <div id="displayElement" class="container text-center">
        <form method="POST" action="#">
            <div class="form-group">
                <label class="info">Choose your edition : </label><br>
                <select id="edition" name="edition">
                    <option  value="0:Bangalore" selected>Bangalore</option>
                    <option  value="1:Davanagere">Davanagere</option>
                    <option  value="2:Gadag, Haveri, Ballari">Gadag, Haveri, Ballari</option>
                    <option  value="3:Hubballi-Dharwad">Hubballi-Dharwad</option>
                    <option  value="4:Kalaburgi">Kalaburgi</option>
                    <option  value="5:Kolar, Chikkaballapur, Tumkuru">Kolar, Chikkaballapur, Tumkuru</option>
                    <option  value="6:Mangaluru">Mangaluru</option>
                    <option  value="7:Mysuru">Mysuru</option>
                    <option  value="8:Uttara Kannada, Belagavi City">Uttara Kannada, Belagavi City</option>
                </select>
            </div><br>
            <button id="submitbtn" type="submit" class="btn btn-info" onclick="getPaper()">Get Today's Paper</button>
        </form>
    </div>

    <div class="footer">
        <a href="http://deccanheraldepaper.com/" target="_blank">E-Paper Source</a>
        <a href="https://github.com/SuhasBk/DH-epaper" target="_blank">Source Code</a>
        <a href="https://deccanherald.com" target="_blank">Official Website</a>
    </div>
</body>
</html>