<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deccan Herald</title>
    <script type="text/javascript" src="../static/deccan.js"></script>
    <link rel="stylesheet" href="../static/deccan.css" type="text/css">
</head>
<body>
    <h1 class="text-center">Deccan Herald E-Paper</h1>
    <div id="displayElement" style="margin-top:8%;" class="container text-center">
        <form method="POST" action="#">
            <div class="form-group">
                <label>Choose your edition : &nbsp</label>
                <select id="edition" name="edition" style="width:175px;">
                    <option  value="0:Bangalore" selected>Bangalore</option>
                    <option  value="1:Davanagere">Davanagere</option>
                    <option  value="2:Gadag, Haveri, Ballari">Gadag, Haveri, Ballari</option>
                    <option  value="3:Hubballi-Dharwad">Hubballi-Dharwad</option>
                    <option  value="4:Kalaburgi">Kalaburgi</option>
                    <option  value="5:Kolar, Chikkaballapur, Tumkuru">Kolar, Chikkaballapur, Tumkuru</option>
                    <option  value="6:Mangaluru">Mangaluru</option>
                    <option  value="7:Mysuru">Mysuru</option>
                    <option  value="8:Uttara Kannada, Belagavi City">Uttara Kannada, Belagavi City</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" onclick="getPaper()">Get Today's Paper</button>
        </form>
    </div>
</body>
</html>