<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deccan Herald</title>
    <style>
        .main {
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Deccan Herald e-paper</h1>
        <form method="POST">
            <label id="label">Enter the email address : </label>
            <input id="mail" name="mail" type="email" required><br><br>
            <input type="submit" value="Get today's paper">
        </form>
    </div>
</body>
</html>