{% extends "layout.html" %}

{% block content %}
<center><h1>Download Page</h1></center>

<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <legend class="border-bottom-mb-4"> Youtube Video Download </legend>
    <marquee> MAKE SURE 'youtube-dl' IS INSTALLED IN YOUR PC OR ELSE THE VIDEO WILL NOT BE DOWNLOADED </marquee>
    <div class="form-group">
      {{ form.bar.label(class="form-control-label") }}
      {{ form.bar(class="form-control form-control-lg") }}
    </div>
  </fieldset>
    <div>
      {{ form.aorv(class="form-check-input") }}
      {{ form.aorv.label(class="form-check-label") }}
    </div><br><br>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

{% endblock content%}
