{% extends "layout.html" %}
{% block content %}
<div style="margin-top:10%;">
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <center><legend style="font-size:40px;" class="border-bottom-mb-4"> Login to access your {{ purpose }} </legend></center>
    <div class="form-group">
      {{ form.email.label(style="font-size:25px;", class="form-control-label") }}
      {{ form.email(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.password.label(style="font-size:25px;",class="form-control-label") }}
      {{ form.password(class="form-control form-control-lg") }}
    </div>
  </fieldset>
    <div style="display:inline-block;margin-right:950px;float:left;" class="form-group">
      {{ form.submit(class="btn btn-info btn-outline") }}
    </div>
</form>
<div style="display:inline-block;">
<a href="{{ url_for('register') }}"><button class="btn btn-info btn-outline">Sign Up</button</a>
</div>
</div>
{% endblock %}
