<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel">
        <div class="container">
            <a class="navbar-brand mr-4" href="{{ url_for('home') }}">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Right Side -->
                {% set routes = ['xkcd','youtube', 'reddit'] %} <!--, 'lyrics', 'resume'-->
                <div class="navbar-nav">
                    {% for route in routes %}
                    <a class="nav-item nav-link" href="{{ url_for(route) }}"> {{route | upper}} </a>
                    {% endfor %}
                    <!-- <a class="nav-item nav-link" href="{{url_for('twitter',user='')}}">PERSONALIZED-TWITTER</a> -->
                    <a class="nav-item nav-link" href="https://chatstomp.onrender.com/">CHATSTOMP</a>
                    <a class="nav-item nav-link" href="{{ url_for('portfolio') }}">PORTFOLIO</a>
                    <a class="nav-item nav-link" href="https://drive.google.com/file/d/1wDLuXtxKjuxr-RzIDFP4-GdRqCx7JfFs/view" target="_blank">RESUME</a>
                    <a class="nav-item nav-link" href="https://github.com/SuhasBk/" target="_blank">GITHUB</a>
                    <a class="nav-item nav-link" href="https://www.linkedin.com/in/suhas-kowligi-b39a9415a/" target="_blank">LINKEDIN</a>
                    <a class="nav-item nav-link" href="https://twitter.com/Suhasbk_98/" target="_blank">TWITTER</a>
                </div>
            </div>
        </div>
    </nav>
</header>