<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhas Kowligi</title>

    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="https://i.pinimg.com/originals/77/f7/ff/77f7ff01c227415475899c71d376455d.png"type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='portfolio.css') }}" rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#about">Suhas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hackathons">Hackathons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#achievements">Achievements</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="welcome">
        <p> Welcome! 👋 </p>
    </div>

    <!-- Header Section -->
    <header id="header" class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1>Suhas Kowligi</h1>
            <p><i class="fas fa-laptop-code"></i> Computer Science Graduate Student <i class="fas fa-laptop-code"></i></p>
            <p>Arlington, TX</p>
            <div class="header-links">
                <a href="https://suhasbk.fly.dev" target="_blank">Portfolio Website</a>
                <span class="header-separator"> | </span>
                <a href="https://drive.google.com/file/d/1wDLuXtxKjuxr-RzIDFP4-GdRqCx7JfFs/view" target="_blank">Résumé</a>
                <span class="header-separator"> | </span>
                <a href="https://github.com/SuhasBk" target="_blank">GitHub</a>
                <span class="header-separator"> | </span>
                <a href="https://www.linkedin.com/in/suhas-kowligi-b39a9415a" target="_blank">LinkedIn</a>
                <span class="header-separator"> | </span>
                <a href="mailto:sxk7070@mavs.uta.edu">E-mail</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="py-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="display-4">About Me</h2>
                    <p>
                        I am a highly motivated computer science graduate student currently pursuing my Master of Science in Computer Science at
                        the University of Texas at Arlington. I also have a significant 3-YOE experience as Senior Software Engineer with a strong background in computer science. My journey in the tech industry has been marked by notable achievements and impactful contributions.
                    </p>
                    <p> 
                        My career took off at Brillio, where I served as a Senior Software Engineer from September 2020 to August 2023.
                        During this time, I had the opportunity to work on a crucial Cell Site Management project for Verizon as a Full Stack
                        Java Developer. I am proud to say that my dedication and exceptional work were acknowledged with prestigious awards, including Employee of The Quarter and Employee of The Month.
                    </p>
                    <p>
                        Prior to my role at Brillio, I gained valuable experience as a Backend Engineer Intern at the National Institute of
                        Technology. This internship provided me with hands-on experience in cutting-edge technology.
                    </p>
                    <p>
                        My skills encompass a wide range of programming languages and tools, including Java, Python, JavaScript, SQL, C,
                        TypeScript, and various frameworks such as Spring Boot, React, and more. I have also earned certifications,
                        including the Scaled Agile Framework (SAFe 5) Practitioner and completion of the Fundamentals of Backend Engineering
                        Udemy Course. I love automating mundane tasks and dockerizing them for deployment.
                    </p>
                    <p>
                        One significant achievement in my career is the publication of a paper titled "Machine Learning-Based Ensemble Network
                        Security." This research was published in a reputable journal, Springer Journal, in November 2021. You can read more
                        about it <a href="https://link.springer.com/chapter/10.1007/978-981-16-3342-3_1" target="_blank">here</a>.
                    </p>
                    <p>
                        Please feel free to take a look at my GitHub repository for open-source contributions!
                    </p>
                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <img id="profile-pic" src="{{url_for('static', filename='profile.png')}}" alt="Profile Picture" class="img-fluid rounded-circle">
                </div>
            </div>
        </div>
    </section>

    <!-- Education Section -->
    <section id="education" class="py-5 bg-light">
        <div class="container">
            <h2 class="display-4">Education</h2>

            <!-- University of Texas at Arlington -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">University of Texas at Arlington</h4>
                    <p class="card-text">Master of Science, Computer Science</p>
                    <p class="card-text">Arlington, TX</p>
                    <p class="card-text">2023 - Present</p>
                    <p class="card-text">Relevant Courses: Design And Analysis of Algorithms, Data Analysis and
                        Modeling, Web Data Management</p>
                </div>
            </div>

            <!-- Nitte Meenakshi Institute of Technology -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nitte Meenakshi Institute of Technology</h4>
                    <p class="card-text">Bachelor of Engineering, Information Science (GPA: 3.68)</p>
                    <p class="card-text">Bangalore, India</p>
                    <p class="card-text">2016 - 2020</p>
                    <p class="card-text">Relevant Courses: Data Structures using C, Graph Theory, Discrete Math,
                        Computer Networks, FOSS and Cyber Laws</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Experience Section -->
    <section id="experience" class="py-5 bg-dark text-white">
        <div class="container">
            <h2 class="display-4">Experience</h2>

            <!-- Brillio LLC -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Brillio LLC</h4>
                    <p class="card-text">Senior Software Engineer</p>
                    <p class="card-text">Bangalore, India</p>
                    <p class="card-text">Sep 2020 - Aug 2023</p>
                    <ul class="list-group">
                        <li class="list-group-item">👉 Full Stack Java Developer in a Cell Site Management project for Verizon.
                        </li>
                        <li class="list-group-item">👉 Automated data integration with external vendors of Verizon using Shell Scripting on AWS Linux servers.</li>
                        <li class="list-group-item">👉 Streamlined inventory search optimizing API calls, SQL queries and UI/UX performance for faster and accurate results.</li>
                        <li class="list-group-item">👉 Guided junior team members to debug micro-service architecture.</li>
                        <li class="list-group-item">👉 Received Employee of The Quarter and Employee of The Month recognition for exemplary work.</li>
                    </ul>
                </div>
            </div>

            <!-- National Institute of Technology -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">National Institute of Technology</h4>
                    <p class="card-text">Backend Engineer Intern</p>
                    <p class="card-text">Surathkal, India</p>
                    <p class="card-text">Jun 2019 - Aug 2019</p>
                    <ul class="list-group">
                        <li class="list-group-item">👉 Worked as a backend Python/Java Developer for an IoT based Navigation-as-a-Service (NaaS) project.</li>
                        <li class="list-group-item">👉 Gained experience in technologies related to Bluetooth Low Energy (BLE), NoSQL MongoDB, and Android Mobile App development.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="py-5">
        <div class="container">
            <h2 class="display-4">Skills</h2>

            <div class="row">
                <div class="col-md-6">
                    <h4>Programming Languages:</h4>
                    <ul>
                        <li>Java</li>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>SQL</li>
                        <li>C</li>
                        <li>TypeScript</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Tools and Frameworks:</h4>
                    <ul>
                        <li>Spring Boot</li>
                        <li>Django</li>
                        <li>React</li>
                        <li>jQuery</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Selenium</li>
                        <li>Android Studio</li>
                        <li>BASH</li>
                        <li>Docker</li>
                        <li>PL/SQL</li>
                        <li>Mongo</li>
                        <li>Git</li>
                        <li>JIRA</li>
                        <li>WebSocket</li>
                        <li>Apache Kafka</li>
                        <li>Flask</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4>Certifications: &nbsp;<a href="https://drive.google.com/file/d/1-oJWhWelwlIh2b8JnXlidjmstyJmOIzw/view?usp=sharing" class="btn btn-dark"
                        target="_blank">View <i class="fas fa-external-link-alt"></i></a></h4>
                    <ul>
                        <li>Scaled Agile Framework (SAFe 5) Practitioner - 2020</li>
                        <li>Fundamentals of Backend Engineering Udemy Course - 15.5 hours</li>
                        <li>Apache Kafka For Developer Using Spring Boot - 8 hours</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="py-5 bg-dark text-white">
        <div class="container">
            <h2 class="display-4">Projects</h2>

            <!-- Project 1: Crypto-Steganography -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Crypto-Steganography</h4>
                    <p class="card-text">Academic Project - Information & Network Security</p>
                    <a href="https://github.com/SuhasBk/Crypto-Stegano" class="btn btn-dark" target="_blank">
                        GitHub Repository <i class="fas fa-external-link-alt"></i>
                    </a>
                    <p class="mt-2 card-text">
                        Python scripts to encrypt/decrypt and embed text secrets to a user-preferred image file and send it via mail using SMTP protocol. Implemented using Advanced Encryption Standard (AES) algorithm with Cipher Block Chaining (CBC).
                    </p>
                </div>
            </div>

            <!-- Project 2: ML-based Ensemble Network Security System -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">ML-based Ensemble Network Security System</h4>
                    <p class="card-text">Academic Industry Project - Machine Learning</p>
                    <p class="mt-2 card-text">
                        Experimented with various ML algorithms such as Naive Bayes Classifier, K-NN Classifier, Logistic Regression, and Decision Tree Classifier. Implemented shell and Python scripts with the help of built-in Unix firewall CLI (iptables) to whitelist most frequent incoming connection requests in an internal network as a part of the Ensemble system.
                    </p>
                </div>
            </div>

            <!-- Project 3: StompChat -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">StompChat</h4>
                    <p class="card-text">Personal Project</p>
                    <a href="https://chatstomp-u0s3.onrender.com" class="btn btn-dark" target="_blank">
                        Live Demo <i class="fas fa-external-link-alt"></i>
                    </a>
                    <p class="mt-2 card-text">
                        Developed and deployed a dockerized Java Spring Boot-based group chat application over WebSocket API. Utilized STOMP - text-based protocol for transferring messages between client and server via a message broker.
                    </p>
                </div>
            </div>

            <!-- Project 4: ePaper Scraping -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ePaper Scraping</h4>
                    <p class="card-text">Personal Project</p>
                    <a href="https://epapers.onrender.com" class="btn btn-dark" target="_blank">
                        Live Demo <i class="fas fa-external-link-alt"></i>
                    </a>
                    <p class="mt-2 card-text">
                        Built and shipped a dockerized Java Spring Boot web application for fetching publicly available PDFs of local newspapers. Added REST APIs, OAuth logins, email service, subscription service based on users’ city preference along with a - <a href="https://t.me/HtToi_bot" target="_blank">Telegram Bot</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Hackathons Section -->
    <section id="hackathons" class="py-5">
        <div class="container">
            <h2 class="display-4">Hackathons</h2>
    
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Smart India Hackathon (SIH) - 2018</h4>
                    <p>Bangalore, India</p>
                    <p class="card-text">
                        Participated in SIH 2018, a national-level hackathon where I gained substantial knowledge on IoT devices and their API/SDK integration with smartphones.
                    </p>
                </div>
            </div>
    
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Hackwell 1.0 - 2019</h4>
                    <p>Bangalore, India</p>
                    <p class="card-text">
                        Took part in a college-level hackathon organized by Honeywell where my team and I built a Learning Management System (LMS) involving both interactive web app and mobile app.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Achievements Section -->
    <section id="achievements" class="py-5 bg-dark text-white">
        <div class="container">
            <h2 class="display-4">Achievements</h2>

            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Machine Learning-Based Ensemble Network Security - Publication</h4>
                    <p class="card-text">Nov 2021</p>
                    <a href="https://link.springer.com/chapter/10.1007/978-981-16-3342-3_1" class="btn btn-dark" target="_blank">Read Publication <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Open Source Contribution - Hacktoberfest 2023</h4>
                    <p class="card-text">Oct 2023</p>
                    <a href="https://github.com/Mrinank-Bhowmick/python-beginner-projects/pull/373" class="btn btn-dark" target="_blank">Pull Request <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer Section -->
    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            &copy; <span id="currentYear"></span> Suhas Kowligi | <a href="mailto:suhasbk42@gmail.com">suhasbk42@gmail.com</a>
        </div>
    </footer>

    <!-- Bootstrap JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script defer>
        const currentYear = new Date().getFullYear();
        document.getElementById('currentYear').textContent = currentYear;
    </script>

</body>

</html>