{% extends 'layout.html' %}
  {% block content %}
  <a href="{{url_for('register')}}"> Register </a><br>
  <a href="{{url_for('login')}}">Login</a><br>
    <center><h1> WELCOME TO YOUR PERSONALIZED TWITTER </h1></center><br>
      <div id="accounts">
        <p> Your Accounts :<p>

        {% for i in range(handles|length) %}
          <li><a style="color:red" href="{{ url_for('remove_handle',user=user,handle=handles[i]) }}"> {{ handles[i] }} </a></li>
        {% endfor %}<br>

        {% if handles|length > 0 %}
          <a href="{{url_for('remove_handle',user=user,handle='*')}}"> Clear All? </a>
        {% else %}
          <a href="#"> *** No accounts in the list! Try adding some! ;) *** </p>
        {% endif %}<br>
      </div>
        <div id="tweets">
          {% for handle in handles[::-1] %}
          <a class="twitter-timeline" data-width="500" data-height="600" data-theme="dark" href="https://twitter.com/{{handle}}?ref_src=twsrc%5Etfw" ></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          {% endfor %}
        </div>
  {% endblock %}
