{% extends "layout.html" %}

{% block content %}
<div style="margin-top:10%;">
<center><h1> {{ title }} results</h1></center><br>
{% if 'YouTube' in title %}
  {% for post in posts%}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <iframe width="100%" height="315" src="{{ post }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </article>
  {% endfor %}
{% elif 'XKCD' in title %}
<center><a href="{{ url_for('xkcd') }}"><button class="btn btn-info btn-outline">NEXT IMAGE</button></a></center><br>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
        <center><img width="100%" height="80%" src="{{ img }}"></img></center>
    </div>
  </div>
</article>
</div>
{% endif %}

{% endblock content%}
